body {
background-color: #f0f2f5; /* Color de fondo en modo claro */
transition: background-color 0.3s ease;
}

body.dark {
background-color: #000000; /* Color de fondo en modo oscuro */
}

/* Estilos para el contenedor de la aplicación */
.app-container {
transition: all 0.3s ease;
}
