body.dark {
  background-color: #121212;
  color: white;

  /* Variables de color para el tema oscuro */
  --bg-card: #1e1e1e;        /* Fondo de los cuadros principales */
  --bg-quaternary: #333333;  /* Fondo de las tarjetas internas */
  --bg-hover: #444444;        /* Fondo de las tarjetas al pasar el ratón */
  --text-primary: white;
  --text-secondary: #aaaaaa;
}

body.light {
  background-color: #f0f2f5;
  color: black;

  /* Variables de color para el tema claro */
  --bg-card: #ffffff;
  --bg-quaternary: #f0f0f0;
  --bg-hover: #e0e0e0;
  --text-primary: black;
  --text-secondary: #555555;
}
