.zebraRow {
  background-color: var(--bg-quinary);
}

.custom-table {
  border: 1px solid var(--border-primary);
}

.custom-table .ant-table-thead > tr > th {
  background-color: var(--bg-quaternary) !important;
  color: var(--text-primary) !important;
}

.row-light {
  background-color: var(--bg-senary) !important;
}

.row-dark {
  background-color: var(--bg-quinary) !important;
}

.custom-table .ant-table-tbody > tr > td {
  border-color: var(--border-primary) !important;
  border-bottom: 1px solid var(--border-primary) !important;
}

/* Tema Claro */
[data-theme="light"] .custom-table,
[data-theme="light"] .custom-table .ant-table-thead > tr > th,
[data-theme="light"] .custom-table .ant-table-tbody > tr > td {
  color: var(--text-primary) !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--border-primary) !important;
}

[data-theme="light"] .row-light {
  background-color: var(--bg-senary) !important;
}

[data-theme="light"] .row-dark {
  background-color: var(--bg-quinary) !important;
}

[data-theme="light"] .ant-table-body::-webkit-scrollbar {
  width: 8px;
  background: var(--bg-primary);
}

[data-theme="light"] .ant-table-body::-webkit-scrollbar-thumb {
  background: var(--bg-quaternary);
  border-radius: 4px;
}

[data-theme="light"] .ant-table-body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

/* Tema Oscuro */
[data-theme="dark"] .custom-table {
  border: 1px solid var(--border-primary) !important;
}

[data-theme="dark"] .custom-table .ant-table-thead > tr > th {
  background-color: var(--bg-quaternary) !important;
  color: var(--text-primary) !important;
  border-color: var(--border-primary) !important;
}

[data-theme="dark"] .custom-table .ant-table-tbody > tr > td {
  color: var(--text-primary) !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--border-primary) !important;
}

[data-theme="dark"] .row-light {
  background-color: var(--bg-primary) !important;
}

[data-theme="dark"] .row-dark {
  background-color: var(--bg-secondary) !important;
}

[data-theme="dark"] .ant-table-body::-webkit-scrollbar {
  width: 8px;
  background: var(--bg-primary);
}

[data-theme="dark"] .ant-table-body::-webkit-scrollbar-thumb {
  background: var(--bg-quaternary);
  border-radius: 4px;
}

[data-theme="dark"] .ant-table-body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
