
/* Estilos generales de la tabla para ambos modos */
.tableCustom {
  border: none !important;
}

/* Estilos de las celdas del cuerpo de la tabla para ambos temas */
.tableCustom .ant-table-tbody > tr > td {
  border-bottom: 1px solid #444 !important;
  border-right: 1px solid #444 !important;
  background-color: inherit !important;
  color: #e0e0e0 !important;
  padding: 10px !important;
}

/* Estilos de las celdas del encabezado para ambos temas */
.tableCustom .ant-table-thead > tr > th {
  background-color: #222222 !important;
  color: #e0e0e0 !important;
  border-bottom: 1px solid #444 !important;
  border-right: 1px solid #444 !important;
}

/* Eliminar el borde derecho de la última columna */
.tableCustom .ant-table-tbody > tr > td:last-child,
.tableCustom .ant-table-thead > tr > th:last-child {
  border-right: none !important;
}

/* Estilos de las filas impares y pares en modo oscuro */
.darkRowOdd {
  background-color: #1a1a1a !important;
}

.darkRowEven {
  background-color: #222222 !important;
}

/* Estilos para el efecto al pasar el mouse */
.tableCustom .ant-table-tbody > tr:hover > td {
  background-color: #2e2e2e !important;
}